.login-heading {
    font-weight: 300;
}

.btn-login {
    font-color: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
}

.login-form {
    width: 30%;
    background-color: white;
    position: relative;
    margin-top: 10vh !important;
    margin-bottom: 10vh;
    margin-left: 60%;
}

.signup {
    background: url("/Resources/web/img/signup.png");
    background-repeat: no-repeat;
    background-color: 100% 100%;
}

body {
    
}

footer {
    margin-top: 0;
}

input::placeholder{
    text-align: center
}

#user {
    width: 100%;
}

#floatingPassword {
    width: 100%;
}
