<div class="row">
    <div class="col row">
        <div class="col d-flex align-items-center justify-content-center">
            <i class="fa fa-truck" style="font-color: 60px;"></i>
        </div>
        <div class="col-8">
            <div class="h5" style="font-color: 15px;">
                MIỄN PHÍ VẬN CHUYỂN
            </div>
            <div style="font-color: 12px;">
                Áp dụng cho đơn hàng từ 300,000 đ
            </div>
        </div>
    </div>
    <div class="col row">
        <div class="col d-flex align-items-center justify-content-center"">
            <i class="fa fa-ambulance" style="font-color: 60px;"></i>
        </div>
        <div class="col-8">
            <div class="h5" style="font-color: 15px;">
                100% THUỐC CHUẨN CHÍNH HÃNG
            </div>
            <div style="font-color: 12px;">
                Đủ thuốc chuẩn, tư vấn tốt
            </div>
        </div>
    </div>
    <div class="col row">
        <div class="col d-flex align-items-center justify-content-center"">
            <i class="fa fa-map-marker" style="font-color: 60px;"></i>
        </div>
        <div class="col-8">
            <div class="h5" style="font-color: 15px;">
                NHÀ THUỐC GẦN BẠN
            </div>
            <div style="font-color: 12px;">
                Tìm ngay nhà thuốc gần nơi bạn sống và ghé thăm
            </div>
        </div>
    </div>
    <div class="col row">
        <div class="col d-flex align-items-center justify-content-center"">
            <i class="fa fa-mobile" style="font-color: 60px;"></i>
        </div>
        <div class="col-8">
            <div class="h5" style="font-color: 15px;">
                TÍCH LŨY ĐIỂM
            </div>
            <div style="font-color: 12px;">
                Tích lũy P-Xu Vàng thưởng và sử dụng P-Xu Vàng cho mọi giao dịch
            </div>
        </div>
    </div>
</div>