<div class="mb-3 w-100 mt-4">
    <div class="h1">
        Dược phẩm
    </div>
    <div class="dropdown-divider mb-5"></div>
    <div class="row m-0">
        <div class="card col mr-3">
            <img class="card-img-top mt-2" src="~/Resources/web/img/product-1.jpg" alt="Card image cap">
            <div class="card-body pl-0 pr-0">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">8.500 đ/Chai</p>
                <div class="w-100">
                    <a href="#" class="btn btn-success w-100">Thêm vào giỏ hàng</a>
                </div>
            </div>
        </div>
        <div class="card col mr-3">
            <img class="card-img-top mt-2" src="~/Resources/web/img/product-1.jpg" alt="Card image cap">
            <div class="card-body pl-0 pr-0">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">8.500 đ/Chai</p>
                <div class="w-100">
                    <a href="#" class="btn btn-success w-100">Thêm vào giỏ hàng</a>
                </div>
            </div>
        </div>
        <div class="card col mr-3">
            <img class="card-img-top mt-2" src="~/Resources/web/img/product-1.jpg" alt="Card image cap">
            <div class="card-body pl-0 pr-0">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">8.500 đ/Chai</p>
                <div class="w-100">
                    <a href="#" class="btn btn-success w-100">Thêm vào giỏ hàng</a>
                </div>
            </div>
        </div>
        <div class="card col mr-3">
            <img class="card-img-top mt-2" src="~/Resources/web/img/product-1.jpg" alt="Card image cap">
            <div class="card-body pl-0 pr-0">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">8.500 đ/Chai</p>
                <div class="w-100">
                    <a href="#" class="btn btn-success w-100">Thêm vào giỏ hàng</a>
                </div>
            </div>
        </div>
        <div class="card col">
            <img class="card-img-top mt-2" src="~/Resources/web/img/product-1.jpg" alt="Card image cap">
            <div class="card-body pl-0 pr-0">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">8.500 đ/Chai</p>
                <div class="w-100">
                    <a href="#" class="btn btn-success w-100">Thêm vào giỏ hàng</a>
                </div>
            </div>
        </div>
    </div>
</div>